.panic {
    padding: 3rem 4rem;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 1.3rem;

    &__header {
        margin-bottom: 2.325rem;
        small {
            color: $text-grey;
        }

        h4 {
            color: $light-black;
            margin-bottom: 0.75rem;
            font-size: 2rem;
        }
    }
}

.badge {
    margin-top: 1.5rem;
    border-radius: 9rem;
    background-color: $accent-color;
    padding: 0.4rem 2rem;
    display: flex;
    align-items: center;
    color: $white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background: darken($accent-color, 0.8);
    }

    svg path {
        stroke: $white;
    }
}
